section {
  display: block;
  width: 100%;
}

body {
  background-color: #0da7ed;
  /* Fallback */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#029aff), to(#17b4db));
  background-image: -webkit-linear-gradient(left, #029aff, #17b4db);
  background-image: -moz-linear-gradient(left, #029aff, #17b4db);
  background-image: -ms-linear-gradient(left, #029aff, #17b4db);
  background-image: -o-linear-gradient(left, #029aff, #17b4db);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$from-color', EndColorStr='$to-color')";
  background-color: #029aff;
  color: #fff;
  margin: 0;
  transition: all 500ms;
}

h1, h2 {
  font-size: 5em;
  font-weight: 900;
  margin: 0 0.1em;
}

.full-width {
  width: 100%;
}

.no-padding {
  padding: 0;
}

#myMenu {
  position: fixed;
  display: none;
  margin-top: -90px;
  top: 50%;
  z-index: 9999;
  right: 20px;
}
@media (max-width: 768px) {
  #myMenu {
    display: none !important;
  }
}
#myMenu a {
  cursor: pointer;
  border-radius: 50%;
  opacity: 0.8;
  background-color: #FFFFFF;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-bottom: 10px;
}
#myMenu ul {
  list-style: none;
}
#myMenu li {
  margin-bottom: 10px;
  width: 14px;
  height: 14px;
  text-align: center;
  position: relative;
}
#myMenu li .anchor-name {
  position: absolute;
  left: -160px;
  top: -5px;
  width: 150px;
  text-align: right;
}
#myMenu li.active a {
  width: 14px;
  height: 14px;
  border: 2px solid #FFFFFF;
  background-color: transparent;
}

#preloader {
  position: fixed;
  height: 20px;
  width: 100%;
  z-index: 999;
}
#preloader .bar {
  width: 0%;
  height: 10px;
  background-color: yellow;
}

.portfolio-item .row {
  height: 100vh;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .portfolio-item .row {
    height: inherit;
  }
}
.portfolio-item .browser {
  -webkit-transform: translate(0, 200px);
  -webkit-transition: -webkit-transform 1200ms;
  -moz-transition: transform 1200ms;
  -moz-transform: translate(0, 200px);
  transform: translate(0, 200px);
  transition: transform 1200ms;
}
@media (max-width: 1200px) {
  .portfolio-item .browser {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -moz-transform: translate(0, 0);
  }
}
.portfolio-item .featured {
  -webkit-transform: translate(0, 300px);
  -webkit-transition: -webkit-transform 1200ms;
  -moz-transition: transform 1200ms;
  -moz-transform: translate(0, 300px);
  transform: translate(0, 300px);
  transition: transform 1200ms;
}
@media (max-width: 1200px) {
  .portfolio-item .featured {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -moz-transform: translate(0, 0);
  }
}
.portfolio-item .laptop {
  -webkit-transform: translate(0, 240px);
  -webkit-transition: -webkit-transform 1200ms;
  -moz-transition: transform 1200ms;
  -moz-transform: translate(0, 240px);
  transform: translate(0, 240px);
  transition: transform 1200ms;
}
@media (max-width: 1200px) {
  .portfolio-item .laptop {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -moz-transform: translate(0, 0);
  }
}
.portfolio-item .iphone {
  -webkit-transform: translate(0, 320px);
  -webkit-transition: -webkit-transform 1200ms;
  -moz-transition: transform 1200ms;
  -moz-transform: translate(0, 320px);
  transform: translate(0, 320px);
  transition: transform 1200ms;
}
@media (max-width: 1200px) {
  .portfolio-item .iphone {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -moz-transform: translate(0, 0);
  }
}
.portfolio-item .iphone.move {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -moz-transform: translate(0, 0);
}
.portfolio-item .laptop.move {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -moz-transform: translate(0, 0);
}
.portfolio-item .featured.move {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -moz-transform: translate(0, 0);
}
.portfolio-item .browser.move {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -moz-transform: translate(0, 0);
}
.portfolio-item .left-centered:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  /* vertical alignment of the inline element */
  height: 100%;
}
.portfolio-item .left-centered {
  position: relative;
  font: 0/0 a;
  height: 100%;
}
.portfolio-item .left-centered .laptop {
  display: inline-block;
  vertical-align: middle;
  /* vertical alignment of the inline element */
  font: 16px/1 Arial sans-serif;
  /* <-- reset the font property */
}
@media (max-width: 1200px) {
  .portfolio-item .left-centered .laptop {
    width: 80%;
  }
}
.portfolio-item .left-centered .iphone {
  position: absolute;
  right: 12%;
  max-width: 72%;
  top: 34%;
}
.portfolio-item .right:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  /* vertical alignment of the inline element */
  height: 100%;
}
.portfolio-item .right {
  text-align: center;
  position: relative;
  padding-right: 20px;
  font: 0/0 a;
  height: 100%;
}
.portfolio-item .right .browser {
  display: inline-block;
  vertical-align: middle;
  /* vertical alignment of the inline element */
  font: 16px/1 Arial sans-serif;
  /* <-- reset the font property */
}
@media (max-width: 1200px) {
  .portfolio-item .right .browser {
    width: 70%;
  }
}
.portfolio-item .right .featured {
  left: 0;
  width: 100%;
}
@media (max-width: 1200px) {
  .portfolio-item .right .featured {
    width: 70%;
  }
}
.portfolio-item img {
  width: 90%;
}
@media (max-width: 2000px) {
  .portfolio-item img {
    width: 90%;
  }
}

#about-section {
  background-color: #000;
  background: url("../assets/img/intro-screen.jpg") center;
  background-size: cover;
  text-align: center;
  -webkit-transition: background-position .1s ease-in;
  -moz-transition: background-position .1s ease-in;
  -o-transition: background-position .1s ease-in;
  transition: background-position 1s ease-in;
  background-position-y: 90%;
  font-family: "Lato";
}
#about-section h2 {
  float: left;
  text-align: left;
  margin-left: 75px;
  font-weight: bolder;
  line-height: 1.3em;
}
@media (max-width: 992px) {
  #about-section h2 {
    font-size: 30px;
  }
}
#about-section #left-about {
  padding-right: 5px;
}
@media (max-width: 992px) {
  #about-section #left-about {
    margin-left: 20px;
    padding-left: 5px;
  }
}
#about-section #left-about h2 {
  font-size: 48px;
  float: right;
  text-align: right;
  color: #FFF;
  margin-top: 50px;
}
@media (max-width: 1200px) {
  #about-section #left-about h2 {
    font-size: 45px;
  }
}
@media (max-width: 992px) {
  #about-section #left-about h2 {
    float: left;
    text-align: left;
    margin-left: 0;
    margin-top: 25px;
  }
}
#about-section #right-about {
  text-align: left;
  padding-left: 5px;
  margin-top: 170px;
}
@media (max-width: 992px) {
  #about-section #right-about {
    margin-left: 20px;
  }
}
#about-section #right-about span {
  font-size: 16px;
  margin-top: 50px;
  display: block;
  clear: both;
  font-weight: normal;
}
#about-section #right-about h2 {
  font-size: 22px;
  text-align: left;
  clear: both;
  color: #FFF;
  font-weight: normal;
  margin-left: 0;
  margin-bottom: 20px;
}
#about-section #right-about h3 {
  font-size: 13px;
  margin-top: 56px;
  display: block;
  clear: both;
}
#about-section #right-about hr {
  width: 160px;
  height: 2px;
  float: left;
  background-color: #FFF;
}
#about-section #logo {
  background: url("../assets/img/logo.png") center;
  width: 74px;
  height: 92px;
  top: 50px;
  margin-left: -37px;
  left: 50%;
  position: absolute;
}
#about-section #see {
  width: 29px;
  height: 72px;
  position: absolute;
  bottom: 70px;
  left: 50%;
  margin-left: -14px;
  background: url("../assets/img/see.png") center;
  display: none;
  cursor: pointer;
}
#about-section.move {
  background-position-y: center;
}

#petermac-section {
  background-color: #5f91a6;
  background-color: #632280;
  /* Fallback */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4d1f79), to(#782487));
  background-image: -webkit-linear-gradient(left, #4d1f79, #782487);
  background-image: -moz-linear-gradient(left, #4d1f79, #782487);
  background-image: -ms-linear-gradient(left, #4d1f79, #782487);
  background-image: -o-linear-gradient(left, #4d1f79, #782487);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$from-color', EndColorStr='$to-color')";
}
#petermac-section img {
  width: 100%;
}
#petermac-section img.browser {
  max-width: 1021px;
  margin-top: 80px;
}
#petermac-section img.laptop {
  max-width: 1271px;
}
#petermac-section img.featured {
  top: 240px;
  max-width: 1193px;
  margin-top: -120%;
}
@media (max-width: 768px) {
  #petermac-section img.featured {
    margin-top: -110%;
  }
}
#petermac-section img.iphone {
  right: 12%;
  max-width: 72%;
  top: 34%;
}

#ccs-section {
  background-color: #5f91a6;
  background-color: #578398;
  /* Fallback */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#475d79), to(#67a9b7));
  background-image: -webkit-linear-gradient(left, #475d79, #67a9b7);
  background-image: -moz-linear-gradient(left, #475d79, #67a9b7);
  background-image: -ms-linear-gradient(left, #475d79, #67a9b7);
  background-image: -o-linear-gradient(left, #475d79, #67a9b7);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$from-color', EndColorStr='$to-color')";
}
#ccs-section img {
  width: 100%;
}
#ccs-section img.browser {
  max-width: 1021px;
  margin-top: 80px;
}
#ccs-section img.laptop {
  max-width: 1271px;
}
#ccs-section img.featured {
  top: 240px;
  max-width: 1193px;
  margin-top: -1157px;
}
@media (max-width: 768px) {
  #ccs-section img.featured {
    margin-top: -110%;
  }
}
#ccs-section img.iphone {
  right: 12%;
  max-width: 72%;
  top: 34%;
}

#mcri-section {
  background-color: #0888c2;
  background-color: #0e7599;
  /* Fallback */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#015173), to(#1a98be));
  background-image: -webkit-linear-gradient(left, #015173, #1a98be);
  background-image: -moz-linear-gradient(left, #015173, #1a98be);
  background-image: -ms-linear-gradient(left, #015173, #1a98be);
  background-image: -o-linear-gradient(left, #015173, #1a98be);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$from-color', EndColorStr='$to-color')";
}
#mcri-section img.laptop {
  max-width: 1370px;
}
#mcri-section img.browser {
  max-width: 858px;
  margin-top: 30px;
}
#mcri-section img.featured {
  max-width: 1230px;
  margin-top: -1310px;
}
@media (max-width: 768px) {
  #mcri-section img.featured {
    margin-top: -140%;
  }
}
#mcri-section img.iphone {
  right: 12%;
  max-width: 68%;
  top: 34%;
}

#iSelect-section {
  background-color: #de7a05;
  background-color: #eb8005;
  /* Fallback */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d76b09), to(#fe9500));
  background-image: -webkit-linear-gradient(left, #d76b09, #fe9500);
  background-image: -moz-linear-gradient(left, #d76b09, #fe9500);
  background-image: -ms-linear-gradient(left, #d76b09, #fe9500);
  background-image: -o-linear-gradient(left, #d76b09, #fe9500);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$from-color', EndColorStr='$to-color')";
}
#iSelect-section img.browser {
  max-width: 780px;
  margin-top: 42px;
}
#iSelect-section img.laptop {
  max-width: 1277px;
}
#iSelect-section img.featured {
  top: 49%;
  margin-top: -775px;
  max-width: 1323px;
}
@media (max-width: 600px) {
  #iSelect-section img.featured {
    margin-top: -400px;
  }
}
#iSelect-section img.iphone {
  position: absolute;
  right: 0%;
  max-width: 50%;
  top: 14%;
}

#trinity-section {
  background-color: #487316;
  background-color: #446d14;
  /* Fallback */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1d3701), to(#6aa327));
  background-image: -webkit-linear-gradient(left, #1d3701, #6aa327);
  background-image: -moz-linear-gradient(left, #1d3701, #6aa327);
  background-image: -ms-linear-gradient(left, #1d3701, #6aa327);
  background-image: -o-linear-gradient(left, #1d3701, #6aa327);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$from-color', EndColorStr='$to-color')";
}
#trinity-section img.browser {
  max-width: 1113px;
  margin-top: 42px;
}
#trinity-section img.laptop {
  max-width: 1277px;
}
#trinity-section img.featured {
  top: 49%;
  max-width: 920px;
  margin-top: -1200px;
}
@media (max-width: 1200px) {
  #trinity-section img.featured {
    margin-top: -90%;
  }
}
#trinity-section img.iphone {
  position: absolute;
  right: 22%;
  max-width: 50%;
  top: 29%;
}

#deakin-digital-section {
  background-color: #c13335;
  background-color: #a62b3d;
  /* Fallback */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#601558), to(#eb4122));
  background-image: -webkit-linear-gradient(left, #601558, #eb4122);
  background-image: -moz-linear-gradient(left, #601558, #eb4122);
  background-image: -ms-linear-gradient(left, #601558, #eb4122);
  background-image: -o-linear-gradient(left, #601558, #eb4122);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$from-color', EndColorStr='$to-color')";
}
#deakin-digital-section img.browser {
  max-width: 875px;
  margin-top: 18px;
}
#deakin-digital-section img.laptop {
  max-width: 1276px;
}
#deakin-digital-section img.featured {
  max-width: 920px;
  margin-top: -1200px;
}
@media (max-width: 768px) {
  #deakin-digital-section img.featured {
    margin-top: -600px;
  }
}
#deakin-digital-section img.iphone {
  position: absolute;
  right: 1%;
  max-width: 50%;
  top: 23%;
}

#rmh-section {
  background-color: #107ba0;
  background-color: #0d7498;
  /* Fallback */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#005072), to(#1a97bd));
  background-image: -webkit-linear-gradient(left, #005072, #1a97bd);
  background-image: -moz-linear-gradient(left, #005072, #1a97bd);
  background-image: -ms-linear-gradient(left, #005072, #1a97bd);
  background-image: -o-linear-gradient(left, #005072, #1a97bd);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$from-color', EndColorStr='$to-color')";
}
#rmh-section img.browser {
  max-width: 595px;
  margin-top: 18px;
}
#rmh-section img.laptop {
  max-width: 1276px;
}
#rmh-section img.featured {
  max-width: 920px;
  margin-top: -1200px;
}
@media (max-width: 768px) {
  #rmh-section img.featured {
    margin-top: -120%;
  }
}
#rmh-section img.iphone {
  position: absolute;
  right: 1%;
  max-width: 50%;
  top: 23%;
}

#kinetic-section {
  background: url("../assets/img/kinetic/bg.jpg") #a63b95;
  background-size: cover;
}
#kinetic-section img.browser {
  max-width: 810px;
  margin-top: 18px;
}
#kinetic-section img.laptop {
  max-width: 1276px;
}
#kinetic-section img.featured {
  margin-top: -1350px;
  max-width: 1035px;
}
@media (max-width: 1200px) {
  #kinetic-section img.featured {
    margin-top: -120%;
  }
}
#kinetic-section img.iphone {
  position: absolute;
  right: 1%;
  max-width: 50%;
  top: 37%;
}

#nurdi-section {
  background-color: #e74406;
  background-color: #e64208;
  /* Fallback */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eb6003), to(#e1240d));
  background-image: -webkit-linear-gradient(left, #eb6003, #e1240d);
  background-image: -moz-linear-gradient(left, #eb6003, #e1240d);
  background-image: -ms-linear-gradient(left, #eb6003, #e1240d);
  background-image: -o-linear-gradient(left, #eb6003, #e1240d);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$from-color', EndColorStr='$to-color')";
}
@media (max-width: 1200px) {
  #nurdi-section .right {
    margin-top: 50px;
  }
}
#nurdi-section img.browser {
  max-width: 1181px;
  margin-top: 18px;
}
#nurdi-section img.laptop {
  max-width: 757px;
}
#nurdi-section img.featured {
  max-width: 364px;
  margin-top: -1400px;
}
@media (max-width: 992px) {
  #nurdi-section img.featured {
    margin-top: -130%;
  }
}
#nurdi-section img.iphone {
  position: absolute;
  width: 853px;
  bottom: 8%;
  top: initial;
  left: 37%;
}

#contact-section {
  background-color: #000;
  background: url("../assets/img/intro-screen.jpg") center;
  background-size: cover;
  text-align: center;
  -webkit-transition: background-position .1s ease-in;
  -moz-transition: background-position .1s ease-in;
  -o-transition: background-position .1s ease-in;
  transition: background-position 1s ease-in;
  background-position-y: 90%;
}
#contact-section h2 {
  font-size: 48px;
  font-family: 'Lato','Arial','sans-serif';
  float: left;
  text-align: left;
  margin-left: 75px;
  color: #FFF;
  font-weight: bolder;
}
#contact-section h2 a, #contact-section h2 a:hover, #contact-section h2 a:visited, #contact-section h2 a:link {
  color: #FFF;
  text-decoration: underline;
}
#contact-section h2 span {
  font-size: 16px;
  margin-top: 60px;
  display: block;
  font-weight: normal;
}
@media (max-width: 992px) {
  #contact-section h2 {
    font-size: 30px;
  }
}
#contact-section #logo {
  background: url("../assets/img/logo.png") center;
  width: 74px;
  height: 92px;
  top: 50px;
  margin-left: -37px;
  left: 50%;
  position: absolute;
}
#contact-section #see {
  width: 29px;
  height: 72px;
  position: absolute;
  bottom: 70px;
  left: 50%;
  margin-left: -14px;
  background: url("../assets/img/see.png") center;
  display: none;
  cursor: pointer;
}
#contact-section.move {
  background-position-y: center;
}
