$bgcolor: #029aff;

//Bootstrap breakpoints
$xl  : 2000px;
$lg  : 1200px;
$md-max :  1200px; 
$md-min : 992px;
$sm-max : 992px;
$sm-min : 768px;
$xs : 400px;

//Mixin For Gradientes
@mixin linear-gradient($from-color, $to-color) {
 background-color: mix($from-color, $to-color); /* Fallback */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from-color), to($to-color));
    background-image: -webkit-linear-gradient(left, $from-color, $to-color); 
    background-image:    -moz-linear-gradient(left, $from-color, $to-color);
    background-image:     -ms-linear-gradient(left, $from-color, $to-color);
    background-image:      -o-linear-gradient(left, $from-color, $to-color);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$from-color', EndColorStr='$to-color')"
}


section{
	display: block;
	width: 100%;
}

body {
  @include linear-gradient(#029aff,#17b4db);
  background-color : $bgcolor;
  color: #fff;
  margin: 0;
  transition: all 500ms;
}


h1, h2 {
    font-size: 5em;
    font-weight: 900;
    margin: 0 0.1em;
}



// HELPERS ------------ >
.full-width{
	width: 100%;
}

.no-padding{
	padding:0;
}

// MENU ------------ >
#myMenu{
	position: fixed;
	display: none;
	margin-top: -90px;
	top: 50%;
	z-index: 9999;
	right:20px;
	@media(max-width: $sm-min){
		display: none !important;
	}
	a{
		cursor: pointer;
		border-radius: 50%;
		opacity: 0.8;
		background-color: #FFFFFF;
		width: 10px;
		height: 10px;
		display: inline-block;
		margin-bottom: 10px;
	}
	ul{
		list-style:none;
	}	
	li{
		margin-bottom:10px;
		width: 14px;
		height: 14px;
		text-align: center;
		position: relative;
		.anchor-name{
			position: absolute;
			left:-160px;
			top:-5px;
			width: 150px;
			text-align: right;
		}
		&.active{
			a{
				width: 14px;
				height: 14px;
				border: 2px solid #FFFFFF;
				background-color: transparent;
			}
		}

	}

}


//PRELOADER
#preloader{
	position: fixed;
	height: 20px;
	width: 100%;
	z-index: 999;
	.bar{
		width: 0%;
		height: 10px;
		background-color: yellow;
	}
}

// CLASSES ------------ >
.portfolio-item{
	.row{
		height: 100vh;
		overflow: hidden;
		@media(max-width : $lg){
			height: inherit;
		}

	}

	//ANIMATIONS < ====
	.browser{
	    -webkit-transform: translate(0, 200px);
		-webkit-transition: -webkit-transform 1200ms;

		-moz-transition: transform 1200ms;
		-moz-transform: translate(0, 200px);

		transform: translate(0, 200px);
		transition: transform 1200ms;
		@media(max-width: $lg){
			-webkit-transform: translate(0, 0);
	  		transform: translate(0, 0);
			-moz-transform: translate(0, 0);
		}
	}
	.featured{
		 -webkit-transform: translate(0, 300px);
		-webkit-transition: -webkit-transform 1200ms;

		-moz-transition: transform 1200ms;
		-moz-transform: translate(0, 300px);

		transform: translate(0, 300px);
		transition: transform 1200ms;
		@media(max-width: $lg){
			-webkit-transform: translate(0, 0);
	  		transform: translate(0, 0);
			-moz-transform: translate(0, 0);
		}
	}
	.laptop{
		-webkit-transform: translate(0, 240px);
		-webkit-transition: -webkit-transform 1200ms;

		-moz-transition: transform 1200ms;
		-moz-transform: translate(0, 240px);

		transform: translate(0, 240px);
		transition: transform 1200ms;
		@media(max-width: $lg){
			-webkit-transform: translate(0, 0);
	  		transform: translate(0, 0);
			-moz-transform: translate(0, 0);
		}
	}
	.iphone{
		-webkit-transform: translate(0, 320px);
		-webkit-transition: -webkit-transform 1200ms;

		-moz-transition: transform 1200ms;
		-moz-transform: translate(0, 320px);

		transform: translate(0, 320px);
		transition: transform 1200ms;
		@media(max-width: $lg){
			-webkit-transform: translate(0, 0);
	  		transform: translate(0, 0);
			-moz-transform: translate(0, 0);
		}
	}
	.iphone.move{
		-webkit-transform: translate(0, 0);
  		transform: translate(0, 0);
		-moz-transform: translate(0, 0);
	}
	.laptop.move{
		-webkit-transform: translate(0, 0);
  		transform: translate(0, 0);
  		-moz-transform: translate(0, 0);
	}
	.featured.move{
		-webkit-transform: translate(0, 0);
  		transform: translate(0, 0);
  		-moz-transform: translate(0, 0);
	}
	.browser.move{
		-webkit-transform: translate(0, 0);
  		transform: translate(0, 0);
  		-moz-transform: translate(0, 0);
	}
	//ANIMATIONS === / >

	.left-centered:before{
		content: ' ';
	    display: inline-block;
	    vertical-align: middle;  /* vertical alignment of the inline element */
	    height: 100%;
	}	
	.left-centered{
		position: relative;
		font: 0/0 a;
		height: 100%;
		.laptop{
			display: inline-block;
		    vertical-align: middle;  /* vertical alignment of the inline element */
		    font: 16px/1 Arial sans-serif;        /* <-- reset the font property */
		    @media(max-width: $md-max){
		    	width: 80%;
		    }
		}
		.iphone{
			position: absolute;
			right: 12%;
		    max-width: 72%;
		    top: 34%;
		} 
	}

	.right:before{
		content: ' ';
	    display: inline-block;
	    vertical-align: middle;  /* vertical alignment of the inline element */
	    height: 100%;
	}
	.right{
		text-align: center;
		position: relative;
		padding-right: 20px;
		font: 0/0 a;
		height: 100%;   
		.browser{
			display: inline-block;
		    vertical-align: middle;  /* vertical alignment of the inline element */
		    font: 16px/1 Arial sans-serif;        /* <-- reset the font property */
		     @media(max-width: $md-max){
		    	width: 70%;
		    }
		}
		.featured{
			left:0;
			width: 100%;
			 @media(max-width: $md-max){
		    	width: 70%;
		    }
		}
		
	}
	img{
		width: 90%;
		@media (max-width: $xl) {
			width: 90%;
		}	
	}
}

//Sections ------------------- >

#about-section{
	background-color:#000;
	background: url('../assets/img/intro-screen.jpg') center;
	background-size: cover;
	text-align: center;
	-webkit-transition:background-position .1s ease-in;  
    -moz-transition:background-position .1s ease-in;  
    -o-transition:background-position .1s ease-in;  
    transition:background-position 1s ease-in; 
    background-position-y:90%;
    font-family: "Lato";
	h2{
		float: left;
		text-align: left;
		margin-left: 75px;
		font-weight: bolder;
		line-height: 1.3em;
		
		@media(max-width: $md-min){
			font-size: 30px;
		}
	}
	#left-about{
		padding-right: 5px;	
		@media(max-width: $md-min){
			margin-left:20px;
			padding-left: 5px;
		}	
		h2{
			font-size: 48px;
			float: right;
			text-align: right;
			color: #FFF;
			margin-top: 50px;
			@media(max-width: $md-max){
				font-size: 45px;
			}
			@media(max-width: $md-min){
				float: left;
				text-align: left;
				margin-left: 0;
				margin-top: 25px;
			}
		}
	}
	#right-about{
		text-align: left;
		padding-left: 5px;
		margin-top: 170px;
		@media(max-width: $md-min){
			margin-left:20px;

		}	
		span{
			font-size: 16px;
			margin-top: 50px;
			display: block;
			clear: both;
			font-weight: normal;
		}
		h2{
			font-size: 22px;
			text-align: left;
			clear: both;
			color: #FFF;
			font-weight: normal;
			margin-left: 0;
			margin-bottom: 20px;
		}
		h3{
			font-size: 13px;
			margin-top: 56px;
			display: block;
			clear: both;

		}
		hr{
			width: 160px;
		    height: 2px;
		    float: left;
		    background-color: #FFF;
		}
	}
	#logo{
		background: url("../assets/img/logo.png") center;
	    width: 74px;
	    height: 92px;
	    top: 50px;
	    margin-left: -37px;
	    left: 50%;
	    position: absolute;
	}
	#see{
		width: 29px;
		height: 72px;
		position: absolute;
		bottom: 70px;
		left: 50%;
		margin-left: -14px;
		background: url("../assets/img/see.png") center;
		display: none;
		cursor: pointer;
	}
	&.move{
		background-position-y: center;
	}
}

#petermac-section{
	background-color: #5f91a6;
	@include linear-gradient(#4d1f79,#782487);
	img{
		width: 100%;
		&.browser{
			max-width: 1021px;
			margin-top: 80px;
		}
		&.laptop{
			max-width: 1271px;
		}
		&.featured{
			top: 240px;
			max-width: 1193px;
			margin-top: -120%;
			@media(max-width: $sm-min){
				margin-top: -110%;
			}
		}
		&.iphone{
			right: 12%;
		    max-width: 72%;
		    top: 34%;
		}
	}
}



#ccs-section{
	background-color: #5f91a6;
	@include linear-gradient(#475d79,#67a9b7);
	img{
		width: 100%;
		&.browser{
			max-width: 1021px;
			margin-top: 80px;
		}
		&.laptop{
			max-width: 1271px;
		}
		&.featured{
			top: 240px;
			max-width: 1193px;
			margin-top: -1157px;
			@media(max-width: $sm-min){
				margin-top: -110%;
			}
		}
		&.iphone{
			right: 12%;
		    max-width: 72%;
		    top: 34%;
		}
	}
}

#mcri-section{
	background-color: #0888c2;
	@include linear-gradient(#015173,#1a98be);
	img{
		&.laptop{
			max-width: 1370px;
			//margin-top: 170px;
		}
		&.browser{
			max-width: 858px;
			margin-top: 30px;
		}
		&.featured{
			max-width: 1230px;
			margin-top: -1310px;
			@media(max-width: $sm-min){
				margin-top: -140%;
			}

		}
		&.iphone{
			right: 12%;
		    max-width: 68%;
		    top: 34%;
		}
	}
}

#iSelect-section{
	background-color: #de7a05;
	@include linear-gradient(#d76b09,#fe9500);
	img{
		&.browser{
			max-width: 780px;
			margin-top: 42px;
		}
		&.laptop{
			max-width: 1277px;
			//margin-top: 117px;
		}
		&.featured{
			top:49%;
			margin-top: -775px;
			max-width: 1323px;
			@media(max-width: 600px){
				margin-top: -400px;
			}
		}
		&.iphone{
			position: absolute;
		    right: 0%;
		    max-width: 50%;
		    top: 14%;
		}
	}
}

#trinity-section{
	background-color: #487316;
	@include linear-gradient(#1d3701,#6aa327);
	img{
		&.browser{
			max-width: 1113px;
			margin-top: 42px;
		}
		&.laptop{
			max-width: 1277px;
			//margin-top: 117px;
		}
		&.featured{
			top:49%;
			max-width: 920px;
			margin-top: -1200px;
			@media(max-width: $md-max){
				margin-top: -90%;
			}
		}
		&.iphone{
			position: absolute;
		    right: 22%;
		    max-width: 50%;
		    top: 29%;
		}
	}
}

#deakin-digital-section{
	background-color: #c13335;
	@include linear-gradient(#601558,#eb4122);
	img{
		&.browser{
			max-width: 875px;
			margin-top: 18px;
		}
		&.laptop{
			max-width: 1276px;
			//margin-top: 117px;
		}
		&.featured{
			max-width: 920px;
			margin-top: -1200px;
			@media(max-width: $sm-min){
				margin-top: -600px;
			}
		}
		&.iphone{
			position: absolute;
		    right: 1%;
		    max-width: 50%;
		    top: 23%;
		}
	}
}

#rmh-section{
	background-color: #107ba0;
	@include linear-gradient(#005072,#1a97bd);
	img{
		&.browser{
			max-width: 595px;
			margin-top: 18px;
		}
		&.laptop{
			max-width: 1276px;
			//margin-top: 117px;
		}
		&.featured{
			max-width: 920px;
			margin-top: -1200px;
			@media(max-width: $sm-min){
				margin-top: -120%;
			}
		}
		&.iphone{
			position: absolute;
		    right: 1%;
		    max-width: 50%;
		    top: 23%;
		}
	}
}


#kinetic-section{
	background: url('../assets/img/kinetic/bg.jpg') #a63b95;
	background-size: cover;
	img{
		&.browser{
			max-width: 810px;
			margin-top: 18px;
		}
		&.laptop{
			max-width: 1276px;
			//margin-top: 117px;
		}
		&.featured{
			margin-top: -1350px;
			max-width: 1035px;
			@media(max-width:$md-max){
				margin-top: -120%;
			}
		}
		&.iphone{
			position: absolute;
		    right: 1%;
		    max-width: 50%;
		    top: 37%;
		}
	}
}

#nurdi-section{
	background-color: #e74406;
	@include linear-gradient(#eb6003,#e1240d);
	.right{
		@media(max-width: $md-max){
			margin-top: 50px;
		}
	}
	img{
		&.browser{
			max-width: 1181px;
			margin-top: 18px;
		}
		&.laptop{
			max-width: 757px;
			//margin-top: 117px;
		}
		&.featured{
			max-width: 364px;
			margin-top: -1400px;
			@media(max-width: $md-min){
				margin-top: -130%;
			}
		}
		&.iphone{
			position: absolute;
			width: 853px;
		    bottom: 8%;
		    top: initial;
		    //max-width: 50%;
		    left: 37%;
		}
	}
}

#contact-section{
	background-color:#000;
	background: url('../assets/img/intro-screen.jpg') center;
	background-size: cover;
	text-align: center;
	-webkit-transition:background-position .1s ease-in;  
    -moz-transition:background-position .1s ease-in;  
    -o-transition:background-position .1s ease-in;  
    transition:background-position 1s ease-in; 
    background-position-y: 90%;
	h2{
		font-size: 48px;
		font-family: 'Lato','Arial','sans-serif';
		float: left;
		text-align: left;
		margin-left: 75px;
		color: #FFF;
		font-weight: bolder;
		a,a:hover,a:visited,a:link{
			color:#FFF;
			text-decoration: underline;
		}
		span{
			font-size: 16px;
			margin-top: 60px;
			display: block;
			font-weight: normal;
		}
		@media(max-width: $md-min){
			font-size: 30px;
		}
	}
	#logo{
		background: url("../assets/img/logo.png") center;
	    width: 74px;
	    height: 92px;
	    top: 50px;
	    margin-left: -37px;
	    left: 50%;
	    position: absolute;
	}
	#see{
		width: 29px;
		height: 72px;
		position: absolute;
		bottom: 70px;
		left: 50%;
		margin-left: -14px;
		background: url("../assets/img/see.png") center;
		display: none;
		cursor: pointer;
	}
	&.move{
		background-position-y: center;
	}
}




